@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0A316C;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0A316C;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FDCB6E;
}

table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0A316C;
    color: #FFFFFF;
}


form {
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #0A316C;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #81ECEC;
    color: #0A316C;
}


.carousel {
    width: 80%;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #0A316C;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    padding: 40px;
    text-align: center;
    background: #f9f9f9;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-btn {
    background: #0A316C;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background-color: #0A316C;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    margin-top: auto;
}



